---
---

//
// IMPORTS
//
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap');
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/*****************/
/*   VARIABLES   */
/*****************/

:root {
  /* FONTS */
  --header-font: 'Potta One', sans-serif;
  --body-font: 'Poppins', sans-serif;

  /* COLORS */
  --gray: rgba(75,75,75,1);
  --dark-gray: rgba(50,50,50,1);
  --darker-gray: rgba(20,20,20,1);
  --link-color: rgba(230, 76, 89,1);

}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font-family: var(--body-font);
  font-size: 20px;
  color: var(--dark-gray);
}

.container {
  margin: auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--darker-gray);
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--darker-gray);
}

h1 {
    font-family: var(--header-font);
    font-size: 3.5rem;
    text-align: center;
  a {
    color: inherit;
  }
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: var(--gray);
}

p {
    margin: 15px 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: var(--link-color);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--gray);
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
    margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
display: block;
    margin: 0 auto;
    width: 250px;
  height: 250px;
    
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
    margin: auto;
  @include mobile {
    float: none;
    display: block;
  }
}

.site-name {
  margin: 0;
  color: var(--dark-gray);
  cursor: pointer;
}

.site-description {
  margin: 0px 0px 10px 0px;
  color: var(--gray);
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
    margin: auto;
    font-family: var(--body-font);
  font-size: 25px;
    text-align: center;

  @include mobile {
    margin: auto;
  }

  a {
    padding: 4px;
    color: var(--dark-gray);
      margin: auto;
      border-style: dashed;
      border-width: 3px;
      border-radius: 10px;
      border-color: black;



    @include mobile {
      margin: auto;
      color: var(--dark-gray);
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--gray);
    padding: 0.1em 1em;
    color: var(--gray);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
